@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/* Elements du site */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(../img-content/background1.jpg) scroll;
    background-size: 200rem;
    background-position: top;
}

/* Header, titre et boutons de nav */

header h1 {
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    padding: 10px;
}

nav {
    background-color: #FFFFFF;
    border-top: 1px solid #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px #36363681;

}

ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

ul li {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: right;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: #000000;
    transition: 200ms;
}

ul li a:hover {
    color: #FF0000;
}

/* FIN HEADER */

/* DEBUT MAIN */

/* Fomulaire de contact */

main {
    height: 100%;
    margin-top: 20px;
}

main form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 80%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 60px;
    border: 2px solid #90909078;
}

form h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline 3px;
}

form label {
    padding: 10px;
}

#mail {
    margin: 2px;
    padding: 10px;
    width: 400px;
}

#txt {
    margin: 2px;
    padding: 10px;
    width: 400px;
    resize: none;
}

#btn-form {
    width: 80px;
    max-width: 150px;
    margin: 20px auto;
    padding: 10px;
}

/* FIN MAIN */

/* FOOTER */

footer {
    background-color: #D41000;
    display: flex;
    justify-content: space-between;
    
}

footer nav {
    display: flex;
    justify-content: right;
    border-radius: 5px;
}

footer div {
    margin-top: 23px;
}

footer span {
    font-size: 13px;
    display: flex;
}

/* FIN FOOTER */

/* Media queries */

@media screen and (max-width: 635px) {
    main form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 80%;
        max-width: 350px;
        margin-bottom: 20px;
        padding: 60px;
    }
}

@media screen and (max-width: 476px) {
    main form {
        width: 80%;
        max-width: 300px;
    }
    form h2 {
        font-size: 35px;
    }
    #mail {
        width: 350px;
    }
    
    #txt {
        width: 350px;
    }
}

@media screen and (max-width: 428px) {
    main form {
        width: 80%;
        max-width: 250px;
    }
    form h2 {
        font-size: 35px;
    }
    #mail {
        width: 300px;
    }
    
    #txt {
        width: 300px;
    }
}

@media screen and (max-width: 382px) {
    main form {
        width: 80%;
        max-width: 200px;
    }
    form h2 {
        font-size: 35px;
    }
    #mail {
        width: 250px;
    }
    
    #txt {
        width: 250px;
    }
}

@media screen and (max-width: 332px) {
    main form {
        width: 80%;
        max-width: 160px;
    }
    form h2 {
        font-size: 35px;
    }
    #mail {
        width: 200px;
    }
    
    #txt {
        width: 200px;
    }
}