@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    background: url(../img-content/background1.jpg) scroll;
    background-size: 250rem;
    background-position: top;
}


header {
    background-color: #A53F34;
}

header h1 {
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    padding: 10px;
}

nav {
    background-color: #FFFFFF;
    border-top: 1px solid #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px #36363681;

}

ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

ul li {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: right;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: #000000;
}

ul li a:hover {
    color: #FF0000;
}

main {
    padding-top: 100px;
}

main h2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 80px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    display: flex;
    background-color: #B91010;
}

.container .title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container h3 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    margin: 5px auto;
}

.container span {
    display: flex;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: 10px 50px;
}

.container img {
    display: flex;
    object-fit: cover;
    width: 30%;
    min-width: 400px;
    padding: 30px;
    border-radius: 35px;
}

.section-skill {
    display: flex;
}

.section-skill .skill-1 {
    display: flex;
    padding: 50px;
    border: 1px solid black;
}


/* FOOTER */

footer {
    background-color: #D41000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer nav {
    display: flex;
    justify-content: right;
}

footer nav a {
    text-decoration: none;
    color: black;
}

footer span {
    font-size: 15px;
    display: flex;
}

/* FIN FOOTER */


@media screen and (max-width: 831px) {
    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container img {
        padding: 10px;
        border-radius: 10px;
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    main h2 {
        font-size: 60px;
    }
    .container h3 {
        font-size: 45px;
    }
    .container span {
        font-size: 25px;
        padding: 5px;
    }
    .container img {
        min-width: 250px;
    }
}