@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    background: url(../img-content/background1.jpg) scroll;
    background-size: 250rem;
    background-position: top;
}

header h1 {
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    padding: 10px;
}

nav {
    background-color: #FFFFFF;
    border-top: 1px solid #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px #36363681;

}

ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

ul li {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: right;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: #000000;
    transition: 200ms;
}

ul li a:hover {
    color: #FF0000;
}

main {
    padding-top: 100px;
}

main h2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 80px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    display: flex;
    background-color: #A21010;
}

.container .title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container h3 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    text-align: center;
    text-decoration: underline 4px;
    padding: 10px;
    margin: 5px auto;
}

.container span {
    display: flex;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: 10px 50px;
}

.container img {
    display: flex;
    object-fit: cover;
    width: 500px;
    justify-content: left;
}

.section-s {
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 25px;
    box-shadow: 0px 2px 8px #12121267;
}

.section-s .s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    width: 900px;
}

.section-s .s h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline 3px;
    font-size: 50px;
    padding: 5px;
    text-shadow: 0px 5px 8px #909090;
}

.section-s .s img {
    width: 100px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.section-s .s h4 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.logos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.download-button {
	display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
	padding: 15px 20px 10px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	background-color: #33A700;
	border: 2px solid #339410;
	box-shadow: 3px 3px 5px #000000;
	border-radius: 5px;
	transition: 350ms;
}

.download-button:hover {
	background-color: #267C00;
	background-position: 90% 50%;
}

.download-button span {
	font-size: 14px;
	display: block;
	margin-top: 2px;
}

.section-proj {
    position: relative;
    display: grid;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 30px auto;
    max-width: 2500px;
    grid-template-columns: repeat(3, 1fr);
    gap:60px;
}

.section-proj h3 {
    font-size: 50px;
    padding: 30px;
    text-decoration: underline 3px;
}

.projects {
    padding: 20px;
    max-width: 80%;
}

.projects a {
    text-decoration: underline 2px;
    color: #000000;
    font-size: 30px;
    transition: 150ms;
}

.projects a:hover {
    color: #FF0000; 
}

.projects .proj {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
}


/* FOOTER */

footer {
    background-color: #D41000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer nav {
    display: flex;
    justify-content: right;
}

footer nav a {
    text-decoration: none;
    color: black;
}

footer span {
    font-size: 15px;
    display: flex;
}

/* FIN FOOTER */