@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    background: url(../img-content/background1.jpg) scroll;
    background-size: 250rem;
    background-position: top;
}

header h1 {
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    padding: 10px;
}

nav {
    background-color: #FFFFFF;
    border-top: 1px solid #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px #36363681;

}

ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

ul li {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: right;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: #000000;
}

ul li a:hover {
    color: #FF0000;
}

main {
    padding-top: 100px;
}

main h2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 80px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    display: flex;
    background-color: #A21010;
}

.container .title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container h3 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    margin: 5px auto;
}

.container span {
    display: flex;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: 10px 50px;
}

.container img {
    display: flex;
    object-fit: cover;
    width: 500px;
    justify-content: left;
}

.section-skill {
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 20px;
}

.section-skill .skill-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    width: 900px;
}

.section-skill .skill-1 h3 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 10px;
    text-shadow: 0px 5px 8px #909090;
}

.section-skill .skill-1 img {
    width: 100px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.logos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.section-skill .skill-1 h4 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.download-button {
	display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
	padding: 15px 20px 10px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	background-color: #33A700;
	border: 2px solid #339410;
	box-shadow: 3px 3px 5px #000000;
	border-radius: 5px;
	transition: 350ms;
}

.download-button:hover {
	background-color: #267C00;
	background-position: 90% 50%;
}

.download-button span {
	font-size: 14px;
	display: block;
	margin-top: 2px;
}


/* FOOTER */

footer {
    background-color: #D41000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer nav {
    display: flex;
    justify-content: right;
}

footer nav a {
    text-decoration: none;
    color: black;
}

footer span {
    font-size: 15px;
    display: flex;
}

/* FIN FOOTER */


/* @media screen and (max-width: 831px) {
    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container img {
        padding: 10px;
        border-radius: 10px;
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    main h2 {
        font-size: 60px;
    }
    .container h3 {
        font-size: 45px;
    }
    .container span {
        font-size: 25px;
        padding: 5px;
    }
    .container img {
        min-width: 250px;
    }
} */